
.bottom-bar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 57%;
    height: 3.6rem;
    background-color: hsla(0,0%,100%,.05);
    border-radius: 0.675rem;
    box-shadow: (0 0 15px rgba(0,0,0,.1));
}
.bottom-bar textarea{
    resize: none;
    outline: none;
    width: 93%;
    height: 1.9rem;
    background-color: transparent;
    border: 0 solid hsla(0,0%,100%,.05);
    box-sizing: border-box;
    margin-top: 0.9rem;
}
.bottom-bar button{
    outline: none;
    background-color: transparent;
    border: 0 solid hsla(0,0%,100%,.05);
    color: rgba(172,172,190);
    position: relative;
    bottom: 0.7rem;
}
.body-btm-bar-text p{
    text-align: center;
    color: rgba(197,197,210);
    font-size: .75rem;
    line-height: 1rem;
    padding-top: 6px;
}