.nav-bottom{
    display:block;
    padding:10px 45px 10px 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
}
.nav-bottom:hover{
    background-color: rgba(52,53,65);
}
.bottom-txt{
    display: inline;
    max-height: 1rem;
    padding-left:10px
}
.vert-nav-img{
    display: inline;
    position: relative;
    bottom: 1px;
}
.bottom-content{
    margin-top:335px;
}