.navbar-heading{
    border: 1px solid hsla(0,0%,100%,.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding:10px;
    padding-top:8px;
    font-size: 15px;
    
} 
.navbar-heading:hover{
    background-color: rgba(52,53,65);
}
.headers-initial{
    font-size: 18px;
}
